<div class='input{{style}}' >
    <label class='input__container{{style}}'>
    <input
        class='input__element{{style}}'
        name='{{name}}'
        type='{{type}}'
        placeholder=''
        value='{{value}}'
       {{disabled}}
    />
        <div class='input__label{{style}}'>{{label}}</div>
        <span class='input__text-error'>Incorrect password</span>
    </label>
</div>
